//UNABLE TO JOIN THESE CLASSES AS THE SVG GROUPING <g> CANNOT BE INDIVIDUALLY MANIPULATED

.chessPieceDivColor1 {
    position: absolute;
    transition: var(--pieceMovementSpeed);
    transition-timing-function: var(--pieceMovementEase);
    // border: 1px dashed yellow;
    & svg {
      @include positionAbsoluteRightInTheCenterAndScale();
      width: 80%;
      height: 80%;      
      & g {
        fill: var(--pieceColor1);
      }
    }
  }

  .chessPieceDivColor2 {
    position: absolute;
    transition: var(--pieceMovementSpeed);
    transition-timing-function: var(--pieceMovementEase);
    // border: 1px dashed yellow;
    & svg {
      @include positionAbsoluteRightInTheCenterAndScale();
      width: 80%;
      height: 80%;      
      & g {
        fill: var(--pieceColor2);
      }
    }
  }  

  .smallerSvgInside {    
    & svg {
      transform: translate(-50%, -45%) scale(0.7,0.7);        
    }
  }

  .activePiece { 
    // border: 1px dashed rgba(245, 245, 245, 0.5);
    box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.2);
  }
  
  .bulletDiv {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    & svg {
    //IF YOU WANT TO GO UNDET 0.7 USE % NOT TRANSFORM DUE TO VIEBOX SETTINGS
      transform: translate(-50%, -50%) scale(0.7,0.7);  
    }
    opacity: 0;
  }

  .bulletDivfirst {
    & svg {
      & g {
        fill: var(--pieceColor1);
      }      
    }
  }

  .bulletDivsecond {
    & svg {
      & g {
        fill: var(--pieceColor2);
      }      
    }
  }

  .firstHitOnce {
    &::after{
      content: "";
      position: absolute;
      left: 10%;
      top: 10%;
      width: 10%;
      height: 10%;
      background-color: var(--pieceColor2);
      opacity: 0.5;
      border-radius: 50%;
    }
  }

  .secondHitOnce {
    &::after{
      content: "";
      position: absolute;
      left: 10%;
      top: 10%;
      width: 10%;
      height: 10%;
      background-color: var(--pieceColor1);
      opacity: 0.5;
      border-radius: 50%;
    }
  }

  .firstHitTwice {
    &::before{
      content: "";
      position: absolute;
      right: 10%;
      top: 10%;
      width: 10%;
      height: 10%;
      background-color: var(--pieceColor2);
      opacity: 0.5;
      border-radius: 50%;
    }
  }

  .secondHitTwice {
    &::before{
      content: "";
      position: absolute;
      right: 10%;
      top: 10%;
      width: 10%;
      height: 10%;
      background-color: var(--pieceColor1);
      opacity: 0.5;
      border-radius: 50%;
    }
  }

  .rocketFuel {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-45%);
    width: 10%;
    height: 20%;
    // background-color: yellow;
    background-image: url(/src/assets/exhaust.png);
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 100% 300%;
    animation: exhaust;
    animation-duration: 0.05s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(3, end);
  }

  @keyframes exhaust {
    0%   {background-position: center 0px;}
    100% {background-position: center -23px;}    
  }

  .winnerKingDivfirst, .winnerKingDivsecond {
    position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      & svg {
        @include positionAbsoluteRightInTheCenterAndScale();
        width: 60%;
        height: 60%;      
    }    
  }

  .winnerKingDivfirst, .winnerKingDivsecond {
    position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10%;
      height: 10%;
      & svg {
        @include positionAbsoluteRightInTheCenterAndScale();
        width: 100%;
        height: 100%;      
        & g {
          fill: var(--pieceColor1);
        }
      }    
  }

  .winnerKingDivfirst {
    & svg {
        & g {
          fill: var(--pieceColor1);
        }
      }    
  }

  .winnerKingDivsecond {
    & svg {
        & g {
          fill: var(--pieceColor2);
        }
      }    
  }

