//UNABLE TO JOIN THESE CALSSES AS THE SVG GROUPING <g> CANNOT BE INDIVIDUALLY MANIPULATED

.chessPieceDivColor1 {
    position: absolute;
    transition: var(--pieceMovementSpeed);
    transition-timing-function: var(--pieceMovementEase);
    // border: 1px dashed yellow;
    & svg {
      @include positionAbsoluteRightInTheCenterAndScale();
      width: 80%;
      height: 80%;      
      & g {
        fill: var(--pieceColor1);
      }
    }
  }

  .chessPieceDivColor2 {
    position: absolute;
    transition: var(--pieceMovementSpeed);
    transition-timing-function: var(--pieceMovementEase);
    // border: 1px dashed yellow;
    & svg {
      @include positionAbsoluteRightInTheCenterAndScale();
      width: 80%;
      height: 80%;      
      & g {
        fill: var(--pieceColor2);
      }
    }
  }

  

  .smallerSvgInside {    
    & svg {
      transform: translate(-50%, -45%) scale(0.7,0.7);        
    }
  }

  .activePiece { 
    border: 1px dashed rgba(245, 245, 245, 0.3);
  }

  .activeMoveOptionCell { 
    border: 1px dashed rgba(163, 4, 4, 0.8);
  }

  
  .bulletDiv {
    position: absolute;
    left: 0;
    top: 0;
    // background-color: rgba(255, 0, 0, 0.2);    
    z-index: 1;
    border-radius: 50%;
    & svg {
    //IF YOU WANT TO GO UNDET 0.7 USE % NOT TRANSFORM DUE TO VIEBOX SETTINGS
      transform: translate(-50%, -50%) scale(0.7,0.7);        
    }
    opacity: 1;
  }
